---
layout: default_absolute
permalink: 404.html
locales:
  en:
    title: Page not found
  es:
    title: Página no encontrada
---

<section class="hero is-fullheight">
  {% include menu.html %}

  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {% for locale in site.locales %}
        {% assign i18n = site.data[locale] %}
        <span lang="{{ locale }}" dir="{{ i18n.dir }}">
          {{ i18n.page_not_found.title }}
        </span>
        {% endfor %}
      </h1>
      <h2 class="subtitle">
        {% for locale in site.locales %}
        {% assign i18n = site.data[locale] %}
        <span lang="{{ locale }}" dir="{{ i18n.dir }}">
          {{ i18n.page_not_found.help | markdown }}
        </span>
        {% endfor %}
      </h2>

      <div class="container is-flex space-between is-fullheight">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="columns">
              {% for page in site.posts limit: 3 %}
              <div class="column">
                {% include post_summary.html page=page %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
