---
layout: default
title: Blog
---

{% assign i18n = site.data[site.lang] %}

<section class="blog">
  {% include menu.html %}
  {% include banner.html %}

  <div class="columns is-centered">
    <div class="column is-one-third">
      {% include mayor.svg %}

      <h1 class="title is-capitalized">{{ i18n.blog.id }}</h1>
      <h2 class="subtitle">{{ i18n.blog.description | markdown }}</h2>
    </div>

    <div class="column is-half">
      <section id="{{ i18n.blog.id }}">
        {% assign posts = site.posts | where: 'layout', 'post' %}
        {% for page in posts %}
          <article id="{{ page.slug }}">
            <header class="has-border-left-on-hover">
              {% include post_summary.html page=page %}
            </header>

            <hr/>
          </article>
        {% endfor %}
      </section>
    </div>
  </div>
</section>

{% include footer.html %}
