---
layout: default
locales:
  es:
    title: Precios
    permalink: precios/
    description: Cómo podés ayudar a sostener Sutty
  en:
    title: Pricing
    permalink: pricing/
    description: How can you help us to sustain Sutty
---

{% assign i18n = site.data[site.lang] %}

<section id="{{ i18n.pricing.id }}" class="section">
  {% include menu.html %}
  {% include banner.html %}

  <div class="pricing-table is-comparative">
    {% for pricing in i18n.pricing.table %}
      {% assign first = forloop.first %}
      <div class="pricing-plan{% if first %} is-features{% endif %}">
        <div class="plan-header">{{ pricing.header }}</div>
        <div class="plan-price">
          <span class="plan-price-amount">
            <span class="plan-price-currency">
              {{ pricing.currency }}
            </span>
            {{ pricing.price }}
          </span>
          {{ pricing.extra }}
        </div>

        <div class="plan-items">
          {% for item in pricing.items %}
            <div class="plan-item"
                 {% unless first %}
                 data-feature="{{ i18n.pricing.table[0].items[forloop.index0] }}"
                 {% endunless %}>{{ item }}</div>
          {% endfor %}
        </div>

        {% if pricing.footer %}
        <div class="plan-footer">
          <a class="button is-fullwidth {{ pricing.footer.class }}"
             href="{{ pricing.footer.href }}">
            {{ pricing.footer.text }}
          </a>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

{% assign features = i18n.pricing.features %}
<section id="{{ features.id }}" class="section">
  <div class="pricing-table">
    <div class="pricing-plan">
      <div class="plan-header">{{ features.title }}</div>

      <div class="plan-items">
        {% for item in features.items %}
          <div class="plan-item">{{ item }}</div>
        {% endfor %}
      </div>

      <div class="plan-footer">
        <a class="button is-fullwidth {{ features.footer.class }}"
           href="{{ features.footer.href }}">
          {{ features.footer.text }}
        </a>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
{% include corners.html %}
