<div style="position: relative">
  <div class="corner is-fixed-bottom is-fixed-left has-margin-left is-symbol fix-bottom-margins">&angrt;</div>
  <div class="corner is-fixed-bottom is-fixed-right has-margin-right is-symbol fix-bottom-margins"><span class="is-flipped-horizontally">&angrt;</span></div>
</div>
