<footer>
  <hr />
  <div class="container">
    <div class="columns">
      <div class="column">
        <ul>
          {% for link in site.data[site.lang].footer.links %}
            <li>
              <a href="{{ link.href }}" title="{{ link.title }}">
                {{ link.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="column">
        <ul>
          {% for link in site.data[site.lang].footer.social %}
            <li>
              <a rel="me" href="{{ link.href }}" title="{{ link.title }}">
                {{ link.text }}
              </a>
            </li>
          {% endfor %}

          <li>
            @{{ site.activity_pub_profile -}}
          </li>
        </ul>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-centered">
        {% assign design = site.data[site.lang].footer.design %}
        <a class="cyan-bg black-fg" href="{{ design.href }}" title="{{ design.title }}">
          {{ design.text }}
        </a>
      </div>
    </div>
  </div>
</footer>
