{% comment %}
Barra de navegación
{% endcomment %}

{% assign i18n = site.data[site.lang] %}

<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="{{ i18n.menu.title }}">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      {% include sutty_color.svg %}
    </a>

    <p class="navbar-item is-hidden-mobile is-marginless">
      {% if i18n.gramatica[0] == 'adverbios' %}
        {{ i18n.adjetivos | sample }}
      {% endif %}

      {{ i18n.description.sites }}

      {% if i18n.gramatica[0] != 'adverbios' %}
        {{ i18n.adjetivos | sample }}
      {% endif %}
    </p>

    <p class="navbar-item is-hidden-mobile is-marginless">&#47;</p>

    <p class="navbar-item is-hidden-mobile is-marginless">
      {{ i18n.description.for | remove: ':' }}
      {% for part in i18n.gramatica %}
        {{ i18n[part] | sample }}
      {% endfor %}
    </p>

    <a role="button" 
       class="navbar-burger burger"
       data-target="menu"
       aria-expanded="true"
       aria-label="{{ i18n.menu.title }}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-end">
      {% for item in i18n.menu.items %}
        <div class="navbar-item">
          <a class="{{ item.css | join: ' ' }}" href="{{ item.href }}">
            {{ item.title }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>
