/*
 * Redefiniciones de bulma
 */

.section { padding: 0 }
.columns { margin: 0 !important; }
.is-transparent { background-color: transparent; }

.button {
  border-radius: 0;
  border: none;

  &:focus {
    box-shadow: none;
  }
}

.label {
  font-weight: 400;
}

.input,
.textarea {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #eee;
}

nav {
  &.navbar {
    flex-wrap: wrap;
    svg {
      max-height: 45px;
    }
  }
}
