// bulma/sass/utilities/initial-variables.sass
$black: hsl(0, 0%, 4%);
$white: white;
$grey: grey;
$cyan: #13fefe;
$magenta: #f206f9;

// Alto del menú para poder restar al snap.scss
$menu-height: 61px;

$primary: $magenta;

$button-disabled-background-color: black;
