---
---

@import 'variables';
@import "bulma/bulma";
@import "bulma-pricingtable/src/sass/index";

@import 'fg';
@import 'bulma';
@import 'helpers';
@import 'responsive';
@import 'monokai';
@import 'post';

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local('Saira Medium'), local('Saira-Medium'), url(../fonts/saira/v3/SairaMedium-subset.zopfli.woff) format('woff');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Saira Bold'), local('Saira-Bold'), url(../fonts/saira/v3/SairaBold-subset.zopfli.woff) format('woff');
}

body {
  font-family: Saira, sans-serif;
}

::-moz-selection,
::selection {
  background: $cyan;
}

a {
  transition: color 1s;
}

section {
  &:not(.sutty) {
    .navbar {
      svg {
        path {
          fill: $black;
        }
      }
    }
  }

  &.main {
    .title { font-size: 3rem; }
    .subtitle { font-size: 2rem; }

    .column {
      svg {
        path {
          fill: $magenta;
        }
      }
    }
  }

  &.secondary {
    .column {
      svg {
        max-width: 3rem;

        path {
          fill: $cyan;
        }
      }
    }

    &.cyan-bg {
      ::selection,
      ::-moz-selection {
        background-color: $white;
        color: $black;
      }

      .column {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &.sutty {
    strong {
      font-weight: 400;
      background-color: $cyan;

      &::selection,
      &::-moz-selection {
        background-color: $magenta;
        color: $black;
      }
    }
  }

  p { margin-bottom: 1rem; }

  &.black-bg {
    ::selection,
    ::-moz-selection {
      background-color: $magenta;
      color: $white;
    }

    nav {
      &.navbar {
        .navbar-item {
          color: $white;
        }

        a {
          color: $white;

          &.black-bg {
            background-color: $white;
          }

          &.white-fg {
            color: black !important;
          }
        }
      }
    }

    .corner {
      color: $white;
    }

    strong {
      font-weight: 400;
      background-color: $cyan;
    }

    svg {
      path {
        fill: $white !important;
      }
    }
  }

  &.blog {
    min-height: calc(100vh - 120px);

    svg {
      margin-bottom: 1rem;
      path {
        fill: $magenta;
      }
    }
  }
}

nav {
  &.navbar {
    a {
      color: $black;
      text-transform: uppercase;
    }
  }
}

svg {
  max-width: 100%;
}

article {
  .e-content {
    a {
      text-decoration: underline;
    }
  }

  header {
    a {
      color: $black;

      &:hover {
        color: $magenta;
      }
    }

    svg {
      margin-bottom: 1rem;
      path {
        fill: $magenta;
      }
    }
  }
}

.turbolinks-progress-bar {
  background-color: $magenta;
}

.space-between {
  justify-content: space-between;
  flex-direction: column;
}

.message {
  margin: 1rem;

  &.is-info {
    .message-header {
      background-color: $cyan;
      color: $black;
    }

    .message-body {
      color: $black;
    }
  }
}
