<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>
    <meta name="referrer" content="origin">

    {% comment %}
      TODO Generar un script que encuentre los recursos a
      precargar... o al menos los podamos especificar en la
      configuracion -->
    {% endcomment %}
    <link rel='preload' as='style' href='{{ 'assets/css/styles.css' | asset }}'/>
    <link rel="manifest" href="manifest.webmanifest">

    <link href='{{ 'assets/css/styles.css' | asset }}' rel='stylesheet' data-turbo-track="reload" data-turbolinks-track="reload">
    <script defer type="text/javascript" src="{{ 'assets/js/sutty.js' | asset }}" data-turbo-track="reload" data-turbolinks-track="reload"></script>

    {% seo %}
    {% feed_meta %}

    <link rel="webmention" href="https://webmention.io/sutty.nl/webmention" />
    <link rel="pingback" href="https://webmention.io/sutty.nl/xmlrpc" />

    {%- if page.activity -%}
      <link href="{{ page.activity.id }}" rel="alternate" type="application/activity+json" />
    {%- endif -%}

    {%- if site.activity_pub_profile -%}
      <meta property="profile:username" content="{{ site.activity_pub_profile }}" />
    {%- endif -%}

    {%- if site.actor -%}
      <link rel="me" href="{{ site.actor.id }}" />
    {%- endif -%}

    {% comment %}
      TODO: Esto es excesivamente complejo, porque tenemos varios casos donde podemos acceder a la URL en el otro idioma:

      * Artículos con vínculo a sus traducciones (usando jekyll-linked-posts)
      * Páginas con sus permalinks traducidos en su front-matter (por ejemplo pricing.html)
      * Páginas sin permalinks traducidos (por ejemplo la raíz del sitio, el blog)

      jekyll-locales debería encargarse de informar a cada página cuales son las URLs de sus traducciones.

      La URL tiene que estar completa porque los indexadores no usan URLs relativas.
    {% endcomment %}
    {%- if page.locales -%}
      {% for locale in page.locales %}
        {% if locale.collection %}
          <link
            rel="alternate"
            hreflang="{{ locale.collection }}"
            href="{{ site.url }}{{ locale.url }}" />
        {% else %}
          {% for l in locale %}
            <link
              rel="alternate"
              hreflang="{{ l[0] }}"
              href="{{ site.url }}{{ l[0] }}/{{ l.permalink }}" />
          {% endfor %}
        {% endif %}
      {% endfor %}
    {%- else -%}
      {% for locale in site.locales %}
        {% if locale == site.locale %}{% continue %}{% endif %}
        <link
          rel="alternate"
          hreflang="{{ locale }}"
          href="{{ site.url }}{{ locale }}/{{ page.url }}" />
      {% endfor %}
    {%- endif -%}
  </head>

  <body>
    {% include menu.html %}

    {{ content }}
  </body>
</html>
