---
layout: default
---

{% assign i18n = site.data[site.lang] %}

<section class="section">
  {% include menu.html %}
  {% include banner.html %}

  <article id="{{ page.id }}" class="h-entry" itemscope itemtype="http://schema.org/Article">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <header>
          {% assign file = i18n.post.symbols | sample %}
          {% include {{ file }} %}
          {% include post_summary.html page=page %}
        </header>
      </div>

      <div class="column is-half content">
        {%- if page.image.path -%}
          <picture>
            {%- for size in site.images.sizes -%}
              <source srcset="{{ page.image.path | thumbnail: size }}" media="(max-width: {{ size | plus: 1 }}px)" />
            {%- endfor -%}
            <img itemprop="image" src="{{ page.image.path | thumbnail: 800 }}" alt="{{ page.image.description }}"/>
          </picture>
        {%- else -%}
          <div hidden itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <span itemprop="url" class="u-photo">{{ site.url }}/{{ site.logo }}</span>
          </div>
        {%- endif -%}

        <div class="e-content" itemprop="articleBody">
          {{ content }}
        </div>

        <aside class="message is-primary">
          <div class="message-body">
            {{ site.i18n.support.text | markdownify }}

            <a href="{{ site.i18n.support.button.url }}" class="button is-primary">
              {{ site.i18n.support.button.text }}
            </a>
          </div>
        </aside>

        <footer>
          <hr />

          {%- assign posts = site.posts | where: 'layout', 'post' -%}
          {%- assign next = posts | next_post: page -%}
          {%- assign prev = posts | prev_post: page -%}

          {% if next %}
            <div class="card">
              <div class="card-content">
                <p class="title">{{ next.title }}</p>
                <p class="subtitle">
                  {{ next.description }}
                </p>
              </div>

              <footer class="card-footer">
                <p class="card-footer-item">
                  <a href="{{ next.url }}" rel="next">{{ site.i18n.post.next }}</a>
                </p>
              </footer>
            </div>
          {% endif %}

          {% if prev %}
            <div class="card">
              <div class="card-content">
                <p class="title">{{ prev.title }}</p>
                <p class="subtitle">
                  {{ prev.description }}
                </p>
              </div>

              <footer class="card-footer">
                <p class="card-footer-item">
                  <a href="{{ prev.url }}" rel="prev">{{ site.i18n.post.prev }}</a>
                </p>
              </footer>
            </div>
          {% endif %}

          {%- if page.uuid -%}
            <span hidden itemprop="identifier">{{ page.uuid }}</span>
          {%- endif -%}

          {%- if page.tags %}
            <span itemprop="keywords" hidden>{{ page.tags | join: ', ' }}</span>
            {%- for tag in page.tags -%}
              <span hidden class="h-category">{{ tag }}</span>
            {%- endfor -%}
          {%- endif -%}

          {%- for author in page.author -%}
            <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span class="p-author h-card" itemprop="name">
                {{ author | escape }}
              </span>
            </span>
          {%- endfor -%}

          <div hidden class="h-card" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <link itemprop="url" href="{{ site.url }}"/>
            <span class="p-name" itemprop="name">{{ site.title }}</span>

            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
              <span itemprop="url" class="u-photo">{{ site.url }}/{{ site.logo }}</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </article>
</section>

<hr/>

{% include footer.html %}
