<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>
    <meta name="referrer" content="origin">

    <link rel="dns-prefetch" href="{{ page.next_url }}" />
    <link rel="preconnect" href="{{ page.next_url }}" crossorigin />
    <meta http-equiv="refresh" content="0;url={{ page.next_url }}" />

    {% seo %}
  </head>

  <body>
    {{ site.i18n.redirecting }}

    <a href="{{ page.next_url }}" rel="noopener noreferrer">
      {{- page.next_url -}}
    </a>
  </body>
</html>
